<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="home.css" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <nav class="nav box container">
        <a href="#" class="logo">
          <img src="./logo.png" class="nav-img" />
          Admin pannel
        </a>
        <div class="nav-items">
          <ul class="list">
            <li>Home</li>
            <li>Contact</li>
            <li>Info</li>
            <li>Help</li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="profile adminsec adminmid">
      <div class="container grid test">
        <div class="home-para">
          <img src="./logo.png" class="font-img" />
        </div>
        <div class="format formata">
          <div class="info">
            <div class="wrap">
              <a href="/takeatt"><button class="bn632-hover bn26">Take Attendance</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="attandance" class="attandance container">
      <div class="att-head">
        <h1>
          Other Features
        </h1>
      </div>
  
      <div class="att-list">
        <div class="gap ga">
          Get Student Attendance Details :<a href="/att"><button class="bn632-hover bn20">Button</button></a>
        </div>
        <div class="gap ga">
          Get Student Attendance Details :<a href="/att"><button class="bn632-hover bn20">Button</button></a>
        </div>
        <div class="gap ga">
          Get Student Attendance Details :<a href="/att"><button class="bn632-hover bn20">Button</button></a>
        </div>
       
      </div>
  
  
      
    </section>
    
  
  </body>
</html>









<!-- 
<div class="att-head">
  <h1>Features</h1>
</div>

<div class="att-list coon">
  <div class="ga"> 
  <h1>Get Student Attendance Details :</h1><a href="/att"><button class="bn632-hover bn20">Button</button></a>
  </div>
  <div class="ga">
    <h1>Get Student Details :</h1><a href="/"><button class="bn632-hover bn20">Button</button></a>
  </div>
</div> -->