<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="home.css" />
    <title>Document</title>
  </head>

  <body>
    <header>
      <nav class="nav box container">
        <a href="#" class="logo">
          <img src="./logo.png" class="nav-img" />
          Student info
        </a>
        <div class="nav-items">
          <ul class="list">
            <li>Home</li>
            <li>Contact</li>
            <li>Info</li>
            <li>Join</li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="tablecon pad">
      <h1 class="table-name">Student details</h1>
      <div class="table-wrapper">
        <form action="/takeatt" method="post">
        <table>
          <thead>
            <tr>
              <th>NAME</th>
              <th>SECTiON</th>
              <th>MARK</th>
            </tr>
          </thead>
     
          <%rows.forEach((row)=>{%>
          <tr>
            <td><%=row.name%></td>
            <td><%=row.section%></td>
            <td><input type="checkbox" name="name"  value="<%=row.name%>"></td>
          </tr>
          <%})%>
          
        </table>
        <div class="context">
        <div class="select">
          <select>
            <option value="1">Pure CSS Select</option>
            <option value="2">No JS</option>
            <option value="3">Nice!</option>
          </select>
        </div>
        <button class="btn" type="submit">Sign up</button>
          </form>
      </div>
        
        
           
      </div>
    </section>
  </body>
</html>



<!-- 

<th>STUDENTID</th>
<th>English</th>
<th>Kannada</th>
<th>java</th>
<th>Dbms</th>
<th>ca</th> -->



